doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Congratulations! You have a request!
  style.
    @media only screen and (max-width: 620px) {
    table[class=body] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
    }
    table[class=body] p,
    table[class=body] ul,
    table[class=body] ol,
    table[class=body] td,
    table[class=body] span,
    table[class=body] a {
    font-size: 16px !important;
    }
    table[class=body] .wrapper,
    table[class=body] .article {
    padding: 10px !important;
    }
    table[class=body] .content {
    padding: 0 !important;
    }
    table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
    }
    table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    }
    table[class=body] .btn table {
    width: 100% !important;
    }
    table[class=body] .btn a {
    width: 100% !important;
    }
    table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
    }
    }
    @media all {
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 125%;
    }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
    }
    .btn-primary table td:hover {
    background-color: #ed408d !important;
    }
    .btn-primary a:hover {
    background-color: #ed408d !important;
    border-color: #ed408d !important;
    }
    }
table.body(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; background-color: #ffffff; width: 100%;' width='100%' bgcolor='#ffffff')
  tr
    td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;' valign='top') &nbsp;
    td.container(style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; Margin: 0 auto;' width='580' valign='top')
      .header(style='padding: 20px 0;')
        table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;' width='100%')
          tr
            td.align-center(style='font-family: sans-serif; font-size: 14px; vertical-align: top; text-align: center;' valign='top' align='center')
              a(href='https://postdrop.io' style='color: #ed408d; text-decoration: underline;')
                img(src='https://cdn.postdrop.io/starter-templates-v0/postdrop-logo-dark.png' height='40' alt='Postdrop' style='border: none; -ms-interpolation-mode: bicubic; max-width: 100%;')
      .content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;')
        // START CENTERED WHITE CONTAINER
        span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Congratulations! You have a request!
        table.main(role='presentation' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; background: #ffffff; border-radius: 3px; width: 100%;' width='100%')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;' valign='top')
              table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;' width='100%')
                tr
                  td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;' valign='top')
                    p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;') Congratulations!
                    p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;')
                      | You just received a job offer! You&apos;ll find the details below. Please call or email back as soon as possible. Thank you!
                    p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;')
                      | Company: 
                      b #{company}
                      br
                      |                           Name: 
                      b #{name.first} #{name.last}
                      br
                      |                           Phone: 
                      b
                        a(href='tel:' + phone style='color: #ed408d; text-decoration: underline;') #{phone}
                      br
                      |                           Email: 
                      b
                        a(href='mailto:' + email style='color: #ed408d; text-decoration: underline;') #{email}
                      br
                      |                           Requested Dates: 
                      b #{requestedDates.start} - #{requestedDates.end}
                    p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;')
                      | We hope you&apos;ll land the job and are looking forward to send you the next one. If you need any help, please write us at 
                      a(href='mailto:hi@get-a-ghost.com' style='color: #ed408d; text-decoration: underline;') hi@get-a-ghost.com
                      | .
                    p(style='font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;')
                      | Your 
                      b Get A Ghost
                      |  team
          // END MAIN CONTENT AREA
        // END CENTERED WHITE CONTAINER
    td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;' valign='top') &nbsp;
